.worksBlock {
    height: 100%;
    background-color: #111111;
    color: #00d3bc;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
    /*border: 1px solid white;*/
    flex-wrap: wrap;
}

.title {
    /*background-color: #2a2828;*/
    /*width: 100%;*/
}

.works {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    /*border: 1px solid firebrick;*/
}
