.skillsBlock {
    height: 100%;
    background-color: #000101;
    color: #00d3bc;
}

.skillsContainer {
    flex-direction: column;
    /*justify-content: flex-start;*/
    /*border: 1px solid white;*/
    flex-wrap: wrap;
}

.title {
    /*background-color: #2a2828;*/
    /*width: 100%;*/
}

.skills {
    display: flex;
    width: 100%;
    justify-content: space-around;
    /*justify-content: center;*/
    flex-wrap: wrap;
    /*border: 1px solid firebrick;*/
}
